{% extends "escola/base.html" %}
{% block content %}
<h2>Professores</h2>
<section>
    {% for professor in professores %}
    <article>
        <header>
            <h3>{{ professor.nome }}</h3>
            <p>Email: {{ professor.email }}</p>
        </header>
        <section>
            <h4>Cursos que leciona:</h4>
                <ul>
                    {% for curso in professor.cursos.all %}
                        <li>
                        <a href="{% url 'cursos' %}#curso-{{ curso.id }}" class="btn-curso">
                            {{ curso.nome }}
                        </a>    
                        </li>
                    {% empty %}
                        <li>Sem cursos atribuídos.</li>
                    {% endfor %}
                </ul>
        </section>
    </article>
    <hr>
    {% endfor %}
</section>
{% endblock %}